---
import { Code } from '@astrojs/starlight/components';

interface Props {
  extends?: string[];
  implements?: string[];
  kind: 'class' | 'interface';
  name: string;
  typeParams?: string[];
}

const { kind, name, typeParams = [], extends: baseTypes = [], implements: implTypes = [] } = Astro.props;
const typeParamsStr = typeParams.length > 0 ? `<${typeParams.join(', ')}>` : '';
const extendsClause = baseTypes.length > 0 ? ` extends ${baseTypes.join(', ')}` : '';
const implementsClause = implTypes.length > 0 ? ` implements ${implTypes.join(', ')}` : '';
const signature = `export ${kind} ${name}${typeParamsStr}${extendsClause}${implementsClause}`;
---

<p><strong>Signature:</strong></p>
<Code code={signature} lang="ts" />
